.post__name {
	position: relative;
	margin: auto;
  	font-size: 1.5em;
  }

.post__content {
	position: absolute;
}

.section__title {
  font-size: 2em;
}

@media (max-width: 480px) {
	.section__header {
		font-size: 10px;
	}
	.post {
		font-size: 12px;
	}
}


@media (min-width: 481px) {
	.section__header {
	  font-size: 12px;
	}
	.post {
		font-size: 14px;
	}	
}